body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2e9e4;
}

.calculator {
    border: 1px solid #c9ada7;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 320px;
}

.display {
    background-color: #22223b;
    color: white;
    text-align: right;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.display input {
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 2.5em;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: 1px solid #c9ada7;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #f2e9e4;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9a8c98;
}

button:active {
    background-color: #4a4e69;
}